<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
    <form method="post">
    <!-- <input type="text" id="name" name="name" placeholder="name"/><br> -->
    <input type="email" id="email" name="username" placeholder="email"/><br>
    <input type="password" id="password" name="password" placeholder="password"/><br>
    <button>Register</button>
</form>
</body>
</html>